body {
	background-color:  black;
	margin: 0;
    padding: 0;
}
header {
	text-align: center;
	position: fixed;
	left: 0;
    top: 0;
    width: 100%;
    background-color: black
}
.nav {
	display: inline;
	padding: 1em;
	font-size:  1.5em;
	font-family:  Courier;
	list-style: none;
	}
.nav_link {
	color: white;
	text-decoration: none;
}
h1 {
	color: white;
	font-family:  Courier;
	font-size:  4em;
	margin-left: 2%;
	margin-bottom: 0;
}
.bio-pic {
	margin-left: 2%;
	border-radius: 50%;
}
p {
	color: white;
	font-family:  Courier;
	}
.bio {
	margin: 2%;
	width: 60%;
}
.projects_head {
	margin-left: 2%;
	width: 40%;
	font-size: 1.5em;
}
.projects {
	margin-left: 2%;
	width: 40%;
}
h3 {
	color: white;
	font-family:  Courier;
	margin-left:2%;
}

h2 {
	color: white;
	font-family:  Courier;
	font-size: 2em;
	margin-left:2%;
}
.contact_link {
	text-decoration: none;
	color: white;
	margin-left:2%;
}
.project_link {
	text-decoration: none;
	color: white;
}
.project-pic {
	width:50%;
	margin-left: 2%;
}
img {
  border-radius: 8px;
  max-height:100%; 
  max-width:100%;
  border: solid 2px white;
}
.pdf { 
	margin: auto;
	width: 90%;
	height: 800px;
}
.resume { 
	width: 100%;
	height: 100%;
}
/*.auth {border:none;}

.final_sub {
	width: 25%;
}

p{
	color: black;
	font-family:  Arial;
	font-size:  1.5em;
	text-align: left;
	/*padding-left: 2em;
	/*margin: 1em;
}

select { 
	width:  147px;
	height:  32px;
	margin-top: 0.2em;
	/*margin-bottom: 0.5em;
	/*margin-right: 20px;
	border-radius:  10px;
	font-family:  arial;
	text-align:  center;
	font-size:  0.8em;
	/*border-color: #ccd3de;
	border: solid 2px black;
	/*float: left;
}

div {
	text-align:  center;
  	position: relative;
}
img {
	border: 7px solid #ccd3de;
	border-radius:  20px;
}
iframe {
	 height:820px; 
	 width:1220px; 
	 border: 4px solid #ccd3de; 
	 border-radius: 20px;
	 background-color: #ccd3de;
}
/*a {
	color: black;
	text-decoration: none;
	font-family:  Arial;
}
ul {
	list-style-type: none;
}
li {
	text-align: left;
	margin: 20px;
	font-family:  Arial;
	font-size: 1.2em;
	font-weight: bold;
	color: black;

}

.prompt {
	font-family:  Arial;
	font-size: 2.5em;
	color: black;
	text-align: center;
}

.sum {
	font-family:  Arial;
	font-size: 1em;
	color: black;
	text-align: center;
}

.target {
	font-family:  Arial;
	font-size: 3em;
	color: black;
}

.subhead {
	font-family:  Arial;
	font-size: 2em;
	color: black;
}

.subsuggest {
	font-family:  Arial;
	font-size: 1em;
	color: grey;
}

.check {
		width: 1em;
        height: 1em;
        padding: 0;
        margin: 0;
        padding: 0;
        margin: 0;
        vertical-align: center;
        position: relative;
        top: -1px;
      }

 input[type=submit] {
 						width:  150px;
						height:  35px;
						font-size: 1.3em;
 					}
 
.result {
	width: 70%;
	border: solid 2px black;
	margin: auto;
	padding: 4em;
	left: 0;
	right:0;
}

label{
	font-size:  .75em;
}*/
